*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 1349px;
}
.container{
    background-color: rgb(73, 71, 71);
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 150px;
}
.nav-menus{
    display: flex;
    justify-content: space-around;
}
.nav-menus li{
    list-style: none;
    color: white;
    margin-left: 20px;
    padding: 10px;
    font-size: 18px;
    /* background-color: rebeccapurple; */
    cursor: pointer;
}
.nav-menus li:hover{
    color: #F7CD2E;
}

/* banner-container */
.banner-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));;
    /* background-color: gray; */
    margin-bottom: 20px;
}
.banner-text{
    color: white;
    margin-left: 30px;
}
.banner-title{
    font-size: 55px;
    margin-bottom: 30px;
}
.banner-paragraph{
    margin-bottom: 20px;
}
.btn{
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    background-color: #e84118;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    color: #e84118;
    background-color: white;
}
.banner-img img{
    width: 300px;
}
/* about section  */
.about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 200px;
}
.about-img img{
    width: 300px;
}
.about-text{
    margin-left: 200px;
}
.section-title{
    text-align: center;
    margin: 25px 0px;
    font-size: 3rem;
}
.about-text p{
    margin-top: 20px;
    font-size: 18px;
}
.contact-btn{
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    background-color: #e84118;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.contact-btn:hover{
    color: #e84118;
    background-color: rgb(0, 0, 0);
}