*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* width: 1349px; */
}
.container{
    background-color: rgb(73, 71, 71);
    height: 70px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo{
    width: 150px;
}
.nav-menus{
    display: flex;
    justify-content: space-around;
}
.nav-menus li{
    list-style: none;
    color: white;
    margin-left: 20px;
    padding: 10px;
    font-size: 18px;
    /* background-color: rebeccapurple; */
    cursor: pointer;
}
.nav-menus li:hover{
    color: #F7CD2E;
}

/* banner-container */
.banner-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));;
    /* background-color: gray; */
    margin-bottom: 20px;
}
.banner-text{
    color: white;
    margin-left: 30px;
}
.banner-title{
    font-size: 55px;
    margin-bottom: 30px;
}
.banner-paragraph{
    margin-bottom: 20px;
}
.btn{
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    background-color: #e84118;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    color: #e84118;
    background-color: white;
}
.banner-img img{
    width: 300px;
}
/* about section  */
.about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 200px;
}
.about-img img{
    width: 300px;
}
.about-text{
    margin-left: 200px;
}
.section-title{
    text-align: center;
    margin: 25px 0px;
    font-size: 3rem;
}
.about-text p{
    margin-top: 20px;
    font-size: 18px;
}
.contact-btn{
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    background-color: #e84118;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.contact-btn:hover{
    color: #e84118;
    background-color: rgb(0, 0, 0);
}
/* our-services-section */
.our-services-section{
    color: white;
    background-image: url('images/background.png'), linear-gradient(45deg, rgb(0,0,0), rgb(55, 55, 55));
    padding-bottom: 4rem;
}
.our-services-section h1{
    font-size: 3rem;
    text-align: center;
    padding: 5rem;
}
.services-list{
    display: flex;
    justify-content: space-around;
}
.service{
    width: 20%;
    /* align-items: center; */
    text-align: center;
    /* margin-bottom: 100px; */
    padding: 1rem;
    background-image: linear-gradient(45deg, rgb(0,0,0), rgb(141, 128, 138));
    border-radius: 20px;
}
.service img{
    width: 100px;
}
.service h2{
    margin: 20px 0;
}
.service p{
    text-align: justify;
}
.service button{
    margin-top: 1.5rem;
    padding: 10px 15px;
    background-color: gray;
    font-weight: 700;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.service button:hover{
    color: #e84118;
    background-color: white;
}
/* footer start */
.footer{
    color: white;
    background-color: black;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(55, 55, 55)
    );
}
/* useful links  */
.useful-links{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 0px 130px;
}
.useful-links img{
    width: 200px;
}
.link{
    margin: 50px 0px;
    /* border: 2px solid red; */
    padding: 20px;
}
.link h3{
    margin-bottom: 2rem;
}
.link li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.link li:hover{
    color: #F7CD2E;
}
.footer-info{
    margin-top: 2rem;
}
.footer-text{
    text-align: center;
    /* margin-bottom: 100px; */
    padding-bottom: 50px;
}
.footer-text .hr{
    /* text-align: center; */
    width: 80%;
    /* height: 1px; */
    color: rgb(190, 190, 194, 0.5);
    margin-bottom: 10px;
    margin-left: 10%;
}
.footer-text p{
    font-size: 12px;
}